<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balanceeat.demo.domain.user.mapper.UserMapper">
    
    <!-- 사용자 정보 조회 -->
    <select id="getUserById" resultType="com.balanceeat.demo.domain.user.entity.User">
        SELECT
            id,
            email,
            password,
            profile_image_url,
            goal_message,
            is_challenge_enabled,
            nickname,
            birth_year,
            gender,
            weight,
            height,
            disease_code,
            diet_habit,
            food_blacklist,
            food_preference,
            is_active,
            created_at,
            updated_at
        FROM users
        WHERE id = #{id} AND is_active = true
    </select>

    <select id="getUserProfile" parameterType="long" resultType="com.balanceeat.demo.domain.user.dto.UserProfileDTO">
        SELECT 
            email,
            nickname,
            profile_image_url AS profileImageUrl,
            goal_message AS goalMessage,
            is_challenge_enabled AS isChallengeEnabled,
            birth_year AS birthYear,
            gender,
            weight,
            height,
            disease_code AS diseaseCode,
            diet_habit AS dietHabit,
            food_blacklist AS foodBlacklist,
            food_preference AS foodPreference
        FROM users
        WHERE id = #{id} AND is_active = true
    </select>

    <select id="getUserResponseDTO" parameterType="long" resultType="com.balanceeat.demo.domain.user.dto.UserResponseDTO">
        SELECT id,
               email,
               nickname,
               birth_year,
               gender,
               weight,
               height,
               disease_code,
               diet_habit,
               food_blacklist,
               food_preference
        FROM users
        WHERE id = #{id} AND is_active = true
    </select>

    <!-- 사용자명 존재 여부 확인 -->
    <select id="existsByEmail" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 
            FROM users 
            WHERE email = #{email}
            AND is_active = true
        )
    </select>
    
    <!-- 사용자 정보 수정 -->
    <update id="updateUser" parameterType="com.balanceeat.demo.domain.user.dto.UserDTO">
        UPDATE users
        <set>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="newPassword != null and newPassword != ''">
                password = #{newPassword},
            </if>
            <if test="birthYear != 0">
                birth_year = #{birthYear},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="weight != 0">
                weight = #{weight},
            </if>
            <if test="height != 0">
                height = #{height},
            </if>
            <if test="diseaseCode != null and diseaseCode != ''">
                disease_code = #{diseaseCode},
            </if>
            <if test="dietHabit != null and dietHabit != ''">
                diet_habit = #{dietHabit},
            </if>
            <if test="foodBlacklist != null and foodBlacklist != ''">
                food_blacklist = #{foodBlacklist},
            </if>
            <if test="foodPreference != null and foodPreference != ''">
                food_preference = #{foodPreference},
            </if>
            updated_at = NOW()
        </set>
        WHERE id = #{id} AND is_active = true
    </update>
    
    <!-- 회원 탈퇴 -->
    <update id="deleteUser">
        UPDATE users
        SET is_active = false,
            updated_at = NOW()
        WHERE id = #{id}
    </update>

    <select id="findByEmail" resultType="com.balanceeat.demo.domain.user.entity.User">
        SELECT
            id,
            email,
            password,
            profile_image_url,
            goal_message,
            is_challenge_enabled,
            nickname,
            birth_year,
            gender,
            weight,
            height,
            disease_code,
            diet_habit,
            food_blacklist,
            food_preference,
            is_active,
            created_at,
            updated_at
        FROM users 
        WHERE email = #{email} AND is_active = true
    </select>

    <insert id="insert" parameterType="com.balanceeat.demo.domain.user.entity.User">
        INSERT INTO users (
            email, 
            password,
            profile_image_url,
            goal_message,
            is_challenge_enabled,
            nickname,
            birth_year,
            gender,
            weight,
            height,
            disease_code,
            diet_habit,
            food_blacklist,
            food_preference,
            is_active, 
            created_at, 
            updated_at
        )
        VALUES (
            #{email},
            #{password},
            #{profileImageUrl},
            #{goalMessage},
            #{isChallengeEnabled},
            #{nickname},
            #{birthYear},
            #{gender},
            #{weight},
            #{height},
            #{diseaseCode},
            #{dietHabit},
            #{foodBlacklist},
            #{foodPreference},
            #{isActive}, 
            #{createdAt}, 
            #{updatedAt}
        )
    </insert>
</mapper> 